body {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;  
    animation: slide 80s infinite linear;
    animation-timing-function: ease-in-out;
    background-image: url('../img/alvaro-reyes-cYhN8SErvFY-unsplash.jpg');
}

@keyframes slide {
    0% {
        background-image: url('../img/alvaro-reyes-cYhN8SErvFY-unsplash.jpg');
    }
    20% {
        background-image: url('../img/alvaro-reyes-cYhN8SErvFY-unsplash.jpg');
    }
    20.01% {
        background-image: url('../img/alana-harris-E1liYFaV62w-unsplash.jpg');
    }
    40% {
        background-image: url('../img/alana-harris-E1liYFaV62w-unsplash.jpg');
    }
    40.01% {
        background-image: url('../img/alexander-schimmeck--5damMHPgBM-unsplash.jpg');
    }
    60% {
        background-image: url('../img/alexander-schimmeck--5damMHPgBM-unsplash.jpg');
    }
    60.01% {
        background-image: url('../img/franz-nawrath-1he0so8qL4k-unsplash.jpg');
    }
    80% {
        background-image: url('../img/franz-nawrath-1he0so8qL4k-unsplash.jpg');
    }
    80.01% {
        background-image: url('../img/gabriella-trejoss-rVBNJMZoXgY-unsplash.jpg');
    }
    100% {
        background-image: url('../img/gabriella-trejoss-rVBNJMZoXgY-unsplash.jpg');
    }
}