@media (max-width:960px) {
    h1 {
        font-size: 1.5rem;
        padding-top: 3rem;
    }
    fieldset { margin-top: 0; }
    .doneTodos {
        display: none;
        background-color: #fff;
    }
    #btn-sidenav, #close-list {
        display: block;
    }
    .footer > p {
        font-size: 0.8rem;
        padding: 0.1rem 0;
        margin: 0;
    }

    #player {
        display: none;
    }

    #player-show {
        display: block;
    }

}


@media (max-width:1200px) {
    #player > audio {
        width: 10rem;
    }
}


@media (max-width:680px) {
    #player {
        width: calc(100% - 1rem);
        margin-left: 0.5rem;
        background-color: rgb(69, 122, 236);
        border: 1px solid rgba(0, 68, 255, 0.800);
    }

    #player > audio {
        width: 100%;
        margin-top: 1rem;
        /* margin-left: 0.5rem; */
    }

    figcaption {
        margin: 0.5rem auto 0 auto;
    }

    h1 {
        text-align: left;
        font-size: 1.3rem;
    }
}
