body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

button:hover {
    cursor: pointer;
}

/********************/

/****************************************************************************** BACKGROUND-IMAGE */

/********************/

#background-img {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/********************/

/****************************************************************************** HEADER */

/********************/

.header>h1 {
    margin: 0;
}

.header {
    background: linear-gradient(#fff, rgba(255, 255, 255, 0.767));
    padding: 0.5rem;
    padding-bottom: 0.9rem;
}

#btn-sidenav {
    display: none;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 0 2.5rem 0 2.5rem;
    max-width: 30rem;
    margin: 1rem auto;
    transition: 0.2s;
    background-color: #ccc;
}

.todo:hover {
    transform: scale(1.1);
}

.date {
    text-align: left;
    margin-left: 1rem;
}

.title {
    text-transform: capitalize;
    text-align: left;
}

#btn-done {
    text-align: left;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
    padding: 0.8rem 1.5rem;
    position: relative;
    bottom: -20px;
    right: 2px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-color: green;
    color: #fff;
}

.fa-check-circle {
    margin-right: 0.2rem;
}

.doneTodos {
    text-align: left;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;

    transition: 0.8s;
    animation: appears-left 0.35s ease-in-out forwards;
    /* -------------------    animation    --------------------------- */
}

#close-list {
    float: right;
    margin-right: 0.5rem;
    background: rgba(255, 255, 255, 0.219);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    transition: 0.2s;
    cursor: pointer;
}

#close-list:hover {
    float: right;
    margin-right: 0.5rem;
}

.doneTodos>h3 {
    margin: 0;
    background-color: green;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

#done-list {
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem 1.5rem 0.5rem 0;
    overflow: scroll;
    max-height: 30rem;
}

#done-list>ul>li {
    color: green;
    list-style-type: "\1F44D";
    font-size: 1.2rem;
}

#done-list>ul>li:before {
    content: ' → ☺';
}

/********************/

/****************************************************************************** FORM CREATE TASK */

/********************/

.txt-form {
    padding: 0.7rem 0.5rem;
    width: calc(100% - 6%);
    font-size: 1.1rem;
}

.btn-form {
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
    border-radius: 0.2rem;
    background-color: rgb(90, 90, 90);
    color: #fff;
}

form {
    margin: 0;
    padding: 1rem 0;
    background: linear-gradient(rgba(255, 255, 255, 0.767), rgba(204, 204, 204, 0.158));
    box-shadow: 0 5rem 3rem 2rem rgba(204, 204, 204, 0.158);
}

fieldset {
    max-width: 20rem;
    margin: 1rem auto 1rem auto;
    border-radius: 0.4rem;
    border: 1px solid rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.664);
}

legend {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(90, 90, 90);
}

/****************/

/****************************************************************************** RESET BUTTON */

/****************/

.btn-reset {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    transition: 0.25s;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.822);
    border: 1px solid rgb(255, 81, 0);
    color: rgb(255, 81, 0);
}

.btn-reset:hover {
    background-color: rgb(255, 81, 0);
    border: 1px solid rgb(255, 81, 0);
    color: #fff;
}

/***********/

/****************************************************************************** SIDENAV */

/***********/

#btn-sidenav {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.2rem 0.2rem 0.05rem 0.2rem;
    border: 1px solid green;
    border-radius: 0.2rem;
    z-index: 10;
    background-color: rgba(0, 128, 0, 0.671);
}

#btn-sidenav>span {
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    bottom: 4px;
}

#btn-sidenav>img:hover {
    transform: rotate(180deg);
}

#btn-sidenav>img {
    width: 1.8rem;
    height: 1.5rem;
    transition: 0.5s;
}

/**********/

/****************************************************************************** FOOTER */

/**********/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.356);
}

/****************/

/****************************************************************************** AUDIO PLAYER */

/****************/

#player {
    border: 1px solid #fff;
    border-radius: 0.3rem;
    width: min-content;
    margin: 0;
    background: rgba(0, 68, 255, 0.800);
    position: fixed;
    right: 0.5rem;
    top: 3rem;
    transition: 0.8s;
    animation: appears-right 0.2s ease-in-out forwards;
    z-index: 20;
}

#player>audio {
    width: 20rem;
}

#player-show {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
    background: rgba(0, 68, 255, 0.800);
    transition: 0.2s;
    position: fixed;
    right: 0.5rem;
    top: 3rem;
    display: none;
}

#player-show:hover {
    transform: scale(1.05);
}

#player-show:active {
    transform: scale(0.98);
}

#player-show:hover~#player-show-info {
    transform-origin: left;
    animation: information 200ms linear;
    animation-fill-mode: forwards;
    color: rgba(0, 68, 255);
}

#player-show-info {
    font-size: 0.8rem;
    position: fixed;
    right: 3.4rem;
    top: 3.2rem;
    display: none;
    display: none;
    color: rgba(0, 68, 255);
}

#close-player {
    font-size: 1.3rem;
    color: #fff;
    /* background: rgba(0, 68, 255, 0.800); */
    background: rgba(255, 255, 255, 0.363);
    border-radius: 0.2rem;
    margin: 0;
    padding: 0 0.5rem;
    position: relative;
    float: left;
    margin: 0.2rem;
    cursor: pointer;
}

.btn-show-hide-list {
    padding: 0.3rem 0.6rem;
    margin: 0.1rem 0 0.3rem 0;
    border: none;
    border-radius: 0.2rem;
    background: rgba(26, 26, 26, .8);
    color: #fff;
}

.song-list {
    display: flex;
    flex-direction: column;
    background: #ccc;
}

.btn-song-choice {
    width: 100%;
    padding: 0.3rem 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.616);
}

.btn-song-choice:hover {
    background-color: rgba(0, 68, 255, 0.600);
    color: #fff;
}

.hidden {
    display: none;
}

/*************/

/****************************************************************************** ANIMATIONS */

/*************/

@keyframes appears-left {
    0% {
        opacity: 0;
        left: -200px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appears-right {
    0% {
        opacity: 0;
        right: -200px;
    }
    100% {
        opacity: 1;
    }
}

@keyframes information {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform-origin: center;
        transform: rotate(10deg) scale(1.1);
    }
    60% {
        transform-origin: center;
        transform: rotate(-20deg) scale(1.1);
    }
    90% {
        transform-origin: center;
        transform: rotate(20deg) scale(1.1);
    }
    100% {
        transform: scale(1.1);
        transform-origin: center;
        right: 6rem;
    }
}